body {
    display: flex;
    perspective: 1000px;
    /*border: 1px solid #ffffff;*/
    height: 400vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #E7DBCB;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 300px;
    border-radius: 50%;
    background-color: #5D001E;
    margin-top: 25vh;
  }

  .logo img{
    height: 290px;
    width: 290px;
  }
  
  .button-more{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 1%;
  }

  .button-more a{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    font-weight: 900;
  }

  .buttons{
    border-radius: 10rem;
    color: #E3E2DF;
    text-decoration: none;
    background-color: #5D001E;
    padding: .5rem 0.75rem;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    transition: all 0.3s; 
    z-index: -1;
  }
  
  .button:hover::before {
    left: 0; /* Сдвигаем фоновый элемент вправо */
  }
  
  .left-side-home {
    background-color: #E7DBCB; /* Цвет слева */
    width: 65vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
  }

  .menu{
    position: absolute;
    height: 95vh;
    width: 58.5vw;
    z-index: 1;
  }

  .menu img{
    position: absolute;
    height: 90vh;
    width: 50vw;
    left: 12vw;
    top: 3vh;
    z-index: 1;
  }

  .nav{
    position: absolute;
    top: 20vh;
    right: 0;
    z-index: 2;
  }

  .nav li{
    margin-top: 5vh;
    list-style-type: none;
  }

  .nav a{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    font-weight: 900;
  }


  .right-side-home {
    display: flex;
    background-color: #5D001E; /* Цвет справа */
    width: 35vw;
    height: 95vh;
    justify-content: center;
    z-index: 0;
  }


  .girl-photo img{
    position: relative;
    width: 100%;
    height: 95vh;
    opacity: 35%;
  }

  .full-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 400vh;
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
    margin-top: 5%;
  }

  .home-container{
    display: flex;
    width: 90vw;
    height: 95vh;
  }

  .best-sellers-container{
    display: flex;
    width: 90vw;
    height: 100vh;
  }

  .left-side-best-sellers {
    background-color: #5D001E; /* Цвет слева */
    width: 59vw;
    height: 100vh;
    display: flex;
    align-items: center;
    perspective: 1000px;
  }

  .right-side-sellers {
    display: flex;
    background-color: #E3E2DF; /* Цвет справа */
    width: 41vw;/* Цвет справа */
    height: 100vh;
    justify-content: center;
  }
  #M, #mMB{
    transition: transform 1s;
  }

  #mMB{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 47vh;
    right: 32.5vw;
    z-index: 3;
  }

  #M.open {
    transform: translateX(10vw);
    
  }
  #mMB.open{
    transform: translateX(10vw) rotateZ(180deg);
  }

  /* Скрываем попап по умолчанию */
.popup {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Контент внутри попапа */
.popup-content {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #E7DBCB;
  margin: 15% auto;
  padding: 20px;
  width: 25vw;
  height: 45vh;
  border: 2px solid #5D001E;
  border-radius: 20px;
}

.popup-content h1{
  text-align: center;
}

.popup-content .input-box{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 20px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #5D001E;
  border-radius: 20px;
  padding: 0px 0px 0px 10px;
}

.input-box input::placeholder{
  color: #5D001E;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: large;
}

.input-box i{
  position: absolute;
  right: 0;
  top: 15px;
  font-size: x-large;
}

.remember{
  font-size: large;
}

.remember label{
  accent-color: #5D001E;
}

.btn{
  width: 100%;
  height: 50px;
  border: none;
  background: #5D001E;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, .1);
  color: #E7DBCB;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: x-large;
  margin-top: 5px;
  font-weight: 600;
}

.EntrBut{
  font-weight: 600;
}
/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #E7DBCB;
}

::-webkit-scrollbar-thumb{
  background: #5D001E;
  border-radius: 4px;
}