body {
    perspective: 1000px;
    background-color: #963032;
    /*border: 1px solid #ffffff;*/
    height: 100vh;
    margin: 0;
  }

  .RotateZone{
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border: 3px solid #212f3b;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
  }

  .shelf {
    display: flex;
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.2s;
    transform: rotateY(-35deg);
   
    
  }

  .front_side{
    border: 3px solid #212f3b;
    border-top-right-radius: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #314455;
    transform: translateZ(78px) ;
    bottom: 0;
  }

  .back_side{
    border: 3px solid #212f3b;
    border-top-right-radius: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #314455;
    transform: translateZ(-78px) ;
    bottom: 0;
  }

  .left_side{
    border: 3px solid #212f3b;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    width: 150px;
    height: 70px;
    background-color: #314455;
    transform: rotateY(-90deg) translateZ(78px);
    bottom: 0;
  }

  .bottom_side{
    border: 3px solid #212f3b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: #314455;
    transform: rotateX(-90deg) translateZ(78px);
    bottom: 0;
  }

  .record {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    background-color: #000000;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateX(20deg);
    cursor: pointer;
    transform-origin: 50% 100%; /* Установить центр вращения внизу пластинки */
  }

  .record.flipped {
    transform: rotateX(-20deg); /* Повернуть пластинку на 180 градусов вокруг оси Y */
  }

  .record-front {
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    background-color: #000000;
    /*transform: rotateX(45deg); /* Повернуть обратную сторону пластинки на 180 градусов вокруг оси Y */
  }


  img {
    width: 100%;
    height: 100%;
  }

  .record_png {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
  }

  .logo{
    height: 100px;
    width: 400px;
    /*border: 1px solid #fff;*/
    
  }
  header{
   /* border: 1px solid #fff;*/
    height: 1%;
  }

  .full-container{
   /* border: 1px solid #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    width: 100%;
    height: 99%;
  }

  .button-more{
    /*border: 1px solid #fff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
  }

  .button{
    border-radius: 10rem;
    color: #963032;
    text-decoration: none;
    background-color: #314455;
    padding: .5rem 0.75rem;
    font-family: 'Emberly', sans-serif;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #212f3b; 
    transition: all 0.3s; 
    z-index: -1;
  }
  
  .button:hover::before {
    left: 0; /* Сдвигаем фоновый элемент вправо */
  }
  
