body {
    display: flex;
    perspective: 1000px;
    /*border: 1px solid #ffffff;*/
    height: 400vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #E7DBCB;
  }

  .RotateZone{
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border: 3px solid #212f3b;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
  }

  .shelf {
    display: flex;
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.2s;
    transform: rotateY(-35deg);
   
    
  }

  .record {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    background-color: #000000;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateX(20deg);
    cursor: pointer;
    transform-origin: 50% 100%; /* Установить центр вращения внизу пластинки */
  }

  .record.flipped {
    transform: rotateX(-20deg); /* Повернуть пластинку на 180 градусов вокруг оси Y */
  }

  .record-front {
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    background-color: #000000;
    /*transform: rotateX(45deg); /* Повернуть обратную сторону пластинки на 180 градусов вокруг оси Y */
  }


  img {
    width: 100%;
    height: 100%;
  }

  

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 300px;
    border-radius: 50%;
    background-color: #5D001E;
    margin-top: 25vh;
  }

  .logo img{
    height: 290px;
    width: 290px;
  }
  



  .button-more{
    /*border: 1px solid #fff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 1%;
  }

  .button-more a{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    font-weight: 900;
  }

  .button{
    border-radius: 10rem;
    color: #E3E2DF;
    text-decoration: none;
    background-color: #5D001E;
    padding: .5rem 0.75rem;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    transition: all 0.3s; 
    z-index: -1;
  }
  
  .button:hover::before {
    left: 0; /* Сдвигаем фоновый элемент вправо */
  }
  
  .left-side-home {
    background-color: #E7DBCB; /* Цвет слева */
    width: 65vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
  }

  .menu{
    position: absolute;
    border: 1px solid #000000;
    height: 95vh;
    width: 58.5vw;
  }

  .menu img{
    position: absolute;
    height: 90vh;
    width: 50vw;
    left: 12vw;
    top: 3vh;
    z-index: 1;
  }

  .right-side-home {
    display: flex;
    background-color: #5D001E; /* Цвет справа */
    width: 35vw;
    height: 95vh;
    justify-content: center;
    z-index: 0;
  }


  .girl-photo img{
    position: relative;
    width: 100%;
    height: 95vh;
    opacity: 35%;
  }

  .full-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 400vh;
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
    margin-top: 5%;
  }

  .home-container{
    display: flex;
    width: 90vw;
    height: 95vh;
  }

  .best-sellers-container{
    display: flex;
    width: 90vw;
    height: 100vh;
  }

  .left-side-best-sellers {
    background-color: #5D001E; /* Цвет слева */
    width: 59vw;
    height: 100vh;
    display: flex;
    align-items: center;
    perspective: 1000px;
  }

  .right-side-sellers {
    display: flex;
    background-color: #E3E2DF; /* Цвет справа */
    width: 41vw;/* Цвет справа */
    height: 100vh;
    justify-content: center;
  }