body {
    display: flex;
    perspective: 1000px;
    /*border: 1px solid #ffffff;*/
    height: 346vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #E7DBCB;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 300px;
    border-radius: 50%;
    background-color: #5D001E;
    margin-top: 25vh;
  }

  .logo img{
    height: 290px;
    width: 290px;
  }
  
  .button-more{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 1%;
  }

  .button-more a{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    font-weight: 900;
  }

  .buttons{
    border-radius: 10rem;
    color: #E3E2DF;
    text-decoration: none;
    background-color: #5D001E;
    padding: .5rem 0.75rem;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    transition: all 0.3s; 
    z-index: -1;
  }
  
  .button:hover::before {
    left: 0; /* Сдвигаем фоновый элемент вправо */
  }
   
  /* Хэдер кнопок */
  
  header{
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .but-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    z-index: 1000 ;
  }


  .bttn{
    
    width: 9%;
    height: 50px;
    border: none;
    background: #5D001E;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    color: #E7DBCB;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    
    font-weight: 600;
  }


  .left-side-home {
    background-color: #E7DBCB; /* Цвет слева */
    width: 65vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
  }

  .menu{
    position: absolute;
    height: 95vh;
    width: 58.5vw;
    z-index: 1;
  }

  .menu img{
    position: absolute;
    height: 90vh;
    width: 50vw;
    left: 12vw;
    top: 3vh;
    z-index: 1;
  }

  .nav{
    position: absolute;
    top: 20vh;
    right: 0;
    z-index: 2;
  }

  .nav li{
    margin-top: 5vh;
    list-style-type: none;
  }

  .nav a{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    font-weight: 900;
  }


  .right-side-home {
    display: flex;
    background-color: #5D001E; /* Цвет справа */
    width: 35vw;
    height: 95vh;
    justify-content: center;
    z-index: 0;
  }


  .girl-photo img{
    position: relative;
    width: 100%;
    height: 95vh;
    opacity: 35%;
  }

  .full-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 329vh;
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
  }

  .home-container{
    display: flex;
    width: 90vw;
    height: 95vh;
  }

  /* Новинки */

  .news-container{
    display: flex;
    width: 90vw;
    height: 50vh;
  }

  .left-side-news {
  height: 50vh;
  width: 65vw;
  background-color: #5D001E;
  }
 
  .right-side-news {
   height: 50vh;
   width: 35vw;
   background-color: #E7DBCB;
  }

  .newslist {
    padding: 50px 15px;
      display: grid;
      gap: 60px;
      justify-content:center;
      grid-template-columns: repeat(1, 260px);
      grid-template-rows: repeat(1, 360px);
      grid-template-areas:
      "XXXX"
      ;
  }

  .news {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
  
  }
  
  .news__top{
  flex: 0 0 270px;
  overflow: hidden;
  }
  
  .news__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }
  
  .news__img > img{
    width: 100%;
    height: 90%;
    object-fit: contain;
  }
  
  .news__bottom{
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 5px 0px;
  }
  
  .news__infol{
    width: 65%;
  }
  
  .news__infor{
    width: 35%;
  }
  
  .news__infor-price{
    justify-content: right;
    font-weight: 700;
    font-size: 14px;
    color: #5D001E;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .news__infor-price::after{
    content: "\20BD";
    margin-left: 4px;
  }
  
  .news__infol-name {
    font-weight: 700;
    font-size: 18px;
    color: #5D001E;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .news__infol-song {
    padding-top: 3px;
    font-weight: 700;
    font-size: 12px;
    color: #5D001E;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .newstit{
    display: flex;
    width: 50%;
    justify-content: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    color: #E7DBCB;
    padding: 40px 10px;
  }
  /* Хиты продаж */

  .best-sellers-container{
    z-index: 3;
    display: flex;
    width: 90vw;
    height: 38vh;
  }

  .left-side-best-sellers {
    background-color: #E7DBCB; /* Цвет слева */
    width: 65vw;
    height: 50vh;
    display: flex;
    align-items: center;
    perspective: 1000px;
  }

  .right-side-best-sellers {
    display: block;
    background-color: #5D001E; /* Цвет справа */
    width: 35vw;/* Цвет справа */
    height: 50vh;
    justify-content: center;
  }

  .besttit {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    color: #E7DBCB;
    padding: 20px 0px;
  }
  
  .bestlist {
    padding: 0px 15px;
    display: grid;
    gap: 60px;
    margin-left: 110px;
    justify-content: center;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(1, 320px);
    grid-template-areas:
      "XXX XXX XXX"
      ;
  }
    .list.prod1{
      opacity: 0.5;
    }

    /* Кнопки хитов */

.btn_bestslayder {

  width: 90%;
  height: 13%;
  display: flex;
  justify-content: left;
  margin-top: 140px;
  margin-left: 15px;
}

#bpast {
  border: none;
  background-color: #5D001E;
  width: 30px;
  height: 30px;
}

#bpast > img {
  width: 30px;
  height: 30px;
}

#bpast:hover {
  transform: scale(0.9); /* Уменьшаем размер кнопки на 10% */
}

#bnext {
  margin-right: 150px;
  background-color: #5D001E;
  border: none;
  width: 30px;
  height: 30px;
}

#bnext > img {
  width: 30px;
  height: 30px;
}

#bnext:hover {
  transform: scale(0.9); /* Уменьшаем размер кнопки на 10% */
}


  #M, #mMB{
    transition: transform 1s;
  }

  #mMB{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50vh;
    right: 32.5vw;
    z-index: 3;
  }

  #M.open {
    transform: translateX(10vw);
    
  }
  #mMB.open{
    transform: translateX(10vw) rotateZ(180deg);
  }

  /* Скрываем попап по умолчанию */
.popup {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Контент внутри попапа */

.popup-content{
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #E7DBCB;
  padding: 5px 20px 20px 20px;
  width: 35vw;
  border: 2px solid #5D001E;
  border-radius: 20px;
}
.Reg {
  margin: 7% auto;
  height: 80vh;
}

.Log {
  margin: 15% auto;
  height: 30vh;
}

.popup-content h1{
  text-align: center;
  color: #5D001E;
}

.popup-content .input-box{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 20px 0px 10px 0px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #5D001E;
  border-radius: 20px;
  padding: 0px 0px 0px 10px;
}

.input-box input::placeholder{
  color: #5D001E;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: large;
}

.input-box i{
  position: absolute;
  right: 0;
  top: 15px;
  font-size: x-large;
}


.btn{
  width: 102.5%;
  height: 50px;
  border: none;
  background: #5D001E;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, .1);
  color: #E7DBCB;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: x-large;
  margin-top: 5px;
  font-weight: 600;
}

.EntrBut{
  font-weight: 600;
}
/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #5D001E;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #E7DBCB;
}

::-webkit-scrollbar-thumb{
  background: #5D001E;
  border-radius: 4px;
}
 
/* Магазин */

.shop {
    display: inline;
    margin-top: 110px;
    width: 90vw;
    height: 100vh;
    z-index: 3;
  }

  .shop-up {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 40px; 
  }
  
  .shop-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 64px;
    color: #5D001E;
    padding: 0px 0px;
    margin-left: 110px;
    flex-grow: 1; 
    text-align: center; 
  }
  


/* Поп-ап фильтра жанров */

.popup-content h2 {
  font-size: 24px; 
  color: #5D001E; 
  margin-bottom: 10px; 
  text-align: left; 
}

#search-input {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 2px solid #5D001E;
  border-radius: 5px; 
  
  font-size: 16px; 
  color: #5D001E; 
}

#search-input::placeholder {
  color: #5D001E; /* Цвет текста в плейсхолдере */
  font-family: "PT Sans Narrow", sans-serif;
}

#music-style {
  width: 94%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 2px solid #5D001E; 
  background-color: #E7DBCB;
  border-radius: 5px; 
  font-size: 16px; 
  font-family: "PT Sans Narrow", sans-serif;
  color: #5D001E; 
 
  background-image: url('path/to/your/arrow-image.png'); 
  background-repeat: no-repeat; 
  background-position: right center; 
  background-size: 16px; 
}

#music-style option {
  color: #5D001E; 
}

#search-button {
  width: 15%; 
  padding: 10px;
  border: none; 
  border-radius: 20px; 
  background-color: #5D001E; 
  color:#E7DBCB; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

#search-button:hover {
  background-color: #E7DBCB; 
  color: #5D001E; 
}

.popup-contentt {
  background-color: #E7DBCB;
  margin: 4% auto;
  padding: 20px;
  border: 2px solid #5D001E;
  width: 100%;
  max-width: 600px;
  font-family: "PT Sans Narrow", sans-serif;
  border-radius: 20px;
}

.popup-contentt{
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #E7DBCB;
  padding: 5px 20px 20px 20px;
  width: 35vw;
  border: 2px solid #5D001E;
  border-radius: 20px;
}
.popup-contentt h1{
  text-align: center;
  color: #5D001E;
}

.popup-contentt .input-box{
  width: 100%;
  height: 40px;
  position: relative;
  margin: 20px 0px 10px 0px;
}


.textpp{
  font-family: "PT Sans Narrow", sans-serif;
  color: #5D001E; 
}

.zhantr{
height: 18vh;
color: #5D001E;
}

.prodazhi {
  height: 18vh;
  color: #5D001E; 
}

.isp {
  height: 18vh;
  color: #5D001E; 
}

.nal {
  height: 18vh;
  color: #5D001E; 
}

.stat {
  height: 18vh;
  color: #5D001E; 
}

.raznitsaa {
  height: 18vh;
  color: #5D001E; 
}

.offerss {
  height: 26%;
}

.offerss h1{
  font-family: "PT Sans Narrow", sans-serif;
  color: #5D001E; 
}

.avail{
  border-radius: 20px;
  background-color: #E7DBCB;
  color: #5D001E; 
  width: 102.5%;
  height: 50px;
  position: relative;
  margin: 10px 0;
  border-color: #5D001E;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
}

.aboutt {
  height: 18vh;
  color: #5D001E; 
}

.magazz {
  height: 18vh;
  color: #5D001E; 
}

.popup-contentt p{
  color: #5D001E;
  padding-left: 5px;
}

.deletee {
  margin-top: 17%;
  height: 8%;
}

.close-popup {
  color: #5D001E;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #5D001E;
}


.shop-container {
  display: grid;
  margin-top: 10px;
  gap: 45px;
  justify-content:center;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 370px);
  grid-template-areas:
  "XXXX XXXX XXXX"
  "XXXX XXXX XXXX"
  ;
}

/* Карточки магазина */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;

}

.card__top{
flex: 0 0 280px;
overflow: hidden;
}

.card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}

.card__img > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__bottom{
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  padding: 5px 0px;
}

.card__infol{
  width: 70%;
}

.card__infor{
  width: 30%;
}

.card__infor-price{
  justify-content: right;
  font-weight: 700;
  font-size: 16px;
  color: #5D001E;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__infor-price::after{
  content: "\20BD";
  margin-left: 4px;
}

.card__infol-name {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__infol-song {
  padding-top: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #5D001E;
  display: flex;
  flex-wrap: wrap-reverse;
}
 
/* Кнопки магазина */

.btn_slayder {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

#past {
  border: none;
  background-color: #E7DBCB;
  width: 35px;
  height: 35px;
}

#past > img {
  width: 35px;
  height: 35px;
}

#past:hover {
  transform: scale(0.9); /* Уменьшаем размер кнопки на 10% */
}

#next {
  margin-right: 150px;
  background-color: #E7DBCB;
  border: none;
  width: 35px;
  height: 35px;
}

#next > img {
  width: 35px;
  height: 35px;
}

#next:hover {
  transform: scale(0.9); /* Уменьшаем размер кнопки на 10% */
}

/* Подвал */

footer {
  margin-top: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #5D001E;
  color: #fff;
  padding: 20px;
  text-align: center;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
}
.footer__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff; /* Цвет фона */
  color: #5D001E; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  border-radius: 25px; /* Закругляем углы */
  transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

.footer__btn:hover {
  background-color: #E7DBCB; /* Цвет фона при наведении */
}

footer h3 {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  font-size: 0.8em;
}